/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
/* this is the link to the google fonts that I imported */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap"); /* Start- this content was taken from https://fonts.google.com/specimen/Source+Sans+Pro?sidebar.open&selection.family=Oswald:wght@300;400;500;600;700|Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600&query=sourc*/
/**styles**/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
#trans1 {
  /* Start- this content was taken from https://htmlcheatsheet.com/css/ */
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#3611ed));
  background: -o-linear-gradient(top, #ffffff 0%, #3611ed 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #3611ed 100%);
  /* End -this content was taken from https://htmlcheatsheet.com/css/ */
  min-height: 15px;

  margin: 0;
  border: 0;
  padding: 0;
}
#trans2 {
  /* Start- this content was taken from https://htmlcheatsheet.com/css/ */
  background: #3611ed;
  background: -webkit-gradient(linear, left top, left bottom, from(#3611ed), to(#ffffff));
  background: -o-linear-gradient(top, #3611ed 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #3611ed 0%, #ffffff 100%);
  /* End -this content was taken from https://htmlcheatsheet.com/css/ */
  min-height: 15px;
}

#trans3 {
  /* Start- this content was taken from https://htmlcheatsheet.com/css/ */
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#2407b4));
  background: -o-linear-gradient(top, #ffffff 0%, #2407b4 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #2407b4 100%);
  /* End -this content was taken from https://htmlcheatsheet.com/css/ */
  min-height: 15px;
}

/**header**/

nav,
nav > a {
    /* Oswald family is from google fonts */
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 5vh;
  display: inline;
  position: relative;
  overflow: hidden;
}
nav img {
  height: 13vh;
  width: auto;
}
nav img {
  display: inline;
  position: relative;
}
nav ul {
  text-align: center;
  vertical-align: center;
  font-size: 3vh;
}

/**home**/
.home {
  background-color: #3611ed;
  position: relative;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  color: #ffffff;
}

.callout {
  background-color: rgba(0, 0, 0, 0.25);
  position: relative;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 15px;
  min-height: auto;
  width: 92vw;
  padding: 20px;
}


.callout i {
  font-size: 225%;
  text-align: center;
}
.landimages {
  max-height: 30vh;
  border-radius: 0.25rem;
  margin-right: 0;
  margin-left: 0;
  display: inline-block;
}

.addimages{
    margin-top: 10px;
    margin-bottom: 10px;
    bottom:80%;
}
/**learnmore**/
.learnmore {
  height: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.back2homecontainer {
  background-color: #3611ed;
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 15px;
  height: auto;
  width: 92vw;
  padding: 20px;
  -o-text-overflow: initial;
     text-overflow: initial;
  font-size: inherit;
}
.back2homecontainer a {
  font-size: inherit;
  margin: 10px 0;
}

/**donate**/
.donate {
  height: auto;
  /* the background image here is mentioned in the credits section of the readme file */
  background-image: url("https://www.washingtonpost.com/resizer/gksHoZzAbWAG0s6iG39TisVzO6o=/arc-anglerfish-washpost-prod-washpost/public/A6BFFMCKMAI6VELE2MKUVWFFZU.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

form {
  position: relative;
  background-color: rgba(58, 55, 55, 0.514);
  color: #fafafa;
  min-width: 75%;
  max-width: 50vw;
  height: auto;
  padding: 30px;
  margin-top: 15%;
  margin-left: 15%;
  margin-right: 15%;
}
input {
  width: 100%;
}
div [class="modal-body"],
div [class="modal-title"] {
  color: #000000;
}
.back2homecontainer2 {
  background-color: #3611ed;
  position: relative;
  display: inline-block;
  margin-top: 10%;
  margin-bottom: auto;
  border-radius: 15px;
  height: auto;
  width: 92vw;
  padding: 20px;
  -o-text-overflow: initial;
     text-overflow: initial;
  font-size: inherit;
}
.back2homecontainer2 a {
  font-size: inherit;
  margin: 10px 0;
}

/**footer**/
footer {
  bottom: 25px;
  background-color: #1c0686;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  padding: 5px 0;
}
footer div[class="col-4"] {
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  border-right: 2px solid rgba(0, 0, 0, 0.3);
}
footer i {
  font-size: 20px;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(255, 255, 255);
}
footer p {
  font-size: 15px;
  color: rgb(255, 255, 255);
}
footer h3 {
  font-size: 20px;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(255, 255, 255);
}

/* textboxes */
.textbox1 {
  overflow: hidden;
  border-radius: 15px;
  height: inherit;
  padding: 15px;
  margin-left: 5%;
  margin-right: 5%;
}
.textbox1 p{
  font-size: 2vw;
  text-decoration: none;
  color: #000000;
}
.textbox1 h3 {
  font-size: 3vw;
  text-decoration: none;
  color: #000000;
}

/* Media queries */

@media (min-width: 320px) {
  nav img {
    height: 11vh;
  }
  .textbox1 p {
    font-size: 5vw;
    text-decoration: none;
  }
  .textbox1 h3 {
    font-size: 7vw;
    text-decoration: none;
  }
}
@media (min-width: 370px) {
  nav img {
    font-size: 12vh;
  }
  button [class="navbar-toggler"] {
    position: relative;
    display: inline;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .textbox1 h2,
  .textbox1 h3 {
    font-size: 4vw;
  }

  nav a[class="nav-link"] {
    font-size: 3vw;
  }

  .textbox1 p {
    font-size: 3vw;
    text-decoration: none;
  }
  .callout p{
      font-size: 1.5vh;
  }

.textbox1 {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (min-width: 1200px) {
.textbox1 {
    margin-left: 5%;
    margin-right: 5%;
}

  .textbox1 h2,
  .textbox1 h3 {
    font-size: 2.5vw;
  }

  nav a[class="nav-link"] {
    font-size: 35px;
  }
  nav a {
    font-size: 3vw;
  }
  nav img {
    height: 135px;
    top: 9px;
  }

  .textbox1 p {
    font-size: 2vw;
    text-decoration: none;
  }
  .callout p{
      font-size: 1.5vw;
  }
  .callout h1{
      font-size: 4vw;
  }
} 
} 
