@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+Pro&display=swap');
/**header**/
/* nav {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    
} */
nav > a {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 32px;
}
/**main**/
/**learnmore**/
/**form**/
/**footer**/
footer {
  background-color: rgb(212, 212, 212);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
}
footer h3{
    font-size: 20px;
}
footer p{
    font-size: 15px
}
footer h3,i{
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: underline;
    
}
